*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
header{
    width: 100%;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: white;
}
nav{
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}
.nav-lists{
    display: flex;
    flex-direction: row;
}
.nav-links{
    padding-right: 100px;
}
.lists{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.lists>li{
    padding-right: 25px;
}
.listed-links{
    text-decoration: none;
    color: rgb(128,148,158);
    font-size: 120%;
    transition: all ease-in-out 0.1s;
}
.name>h1{
    font-size: 200%;
    color: #576971;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.hidden-list{
    transition: 1s;   
    list-style: none;
    display: none;
    position: absolute;
    padding-top: 0.5%;
    min-width: 10%;
    transition: all ease-in-out 0.1s;
}
.about-down{
    transition: all ease-in-out 0.1s;
}
.hidden-nav{
    font-size: 100%;
    padding: 10%;
    background-color: white;
}
.hovering:hover{
    color: rgb(0,156,234);
}
.about-down:hover + .hidden-list{
    position: absolute;
    margin-top: 10px;
    display:block;
    
}
.social-links{
    transition: 0.1s;
    color: #576971;
    text-decoration: none;
}
.about-down:hover{
    color: rgb(0,156,234);
}
section{
    width: 100%;
}
